<div class="center hero-unit">
	<h1>NEWHockey.com</h1>
	<p>
		This is the home page to Northeast Wisconsin Hockey!
	</p>

	<%= link_to "Sign up now", '#', class: "btn btn-large btn-primary" %>
</div>	