<footer class="footer">
	<small>
		Temporary footer text for NEWHockey.com
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",	about_path %></li>
			<li><%= link_to "Contact",	contact_path %></li>
		</ul>
	</nav>
</footer>